@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
	font-family: 'Open Sans', sans-serif;
	}
 

 




#link_ajuda {
	position:absolute;
	margin-top: 5em;
	margin-left: 1em;
}

#link_ajuda a {
	text-decoration:none;
	color:#ccc;
	font-size: 1.5em;
}

#link_ajuda a:hover {
	color:#333;
}



footer {
	margin-top: 100px;
	}


.navbar-inverse {
	border-radius: 0px;
	background-color: #383a3d;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	}

.navbar-inverse .navbar-nav > li > a {
    color: #b5b9bf;}

.navbar-inverse .navbar-nav > li.open a.dropdown-toggle{
    background-color: #292b2e}
   
.navbar-inverse a.navbar-brand {
	color: #b5b9bf;
	}


/*imagens usam isto*/
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-thumbnail {
	margin-bottom: 20px;
	}
	

/*primeira pagina usa isto*/

.titulohomepage {
	text-align: center;
	color:#000;
	text-shadow: -5px 5px 5px rgba(0,0,0, 0.3);
}

.titulopagina {
	margin-bottom: 50px;
}

.link-img {
	width: 64px;
	height: 64px;
}

.logotipo {
	height: 99%;
}

/* fix horizontal scroll*/

.row {
  margin-left: 0px;
  margin-right: 0px;
}



.list-group .porfazer {
	color: #ccc;
	}
